.filter-form {
    position: absolute;
    width: 22rem;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 4px 0px #777d8c;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.filter-header p {
    font-family: CircularXX;
    font-size: medium;
}
.filter-header button {
    color: white;
    box-shadow: none;
    border: none;
    font-size: medium;
    background-color: rgb(30, 100, 116);
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}
.input-container {
    display: flex;
    margin: 0.5rem 0px;
    padding: 0.8rem;
    border-radius: 0.3rem;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.input-container label {
    font-size: small;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.46);
}
.input-container select {
    border: none;
    margin-top: 0.5rem;
    outline: none;
    font-size: medium;
    background-color: white;
    color: rgba(0, 0, 0, 0.36);
}
.filter-form-divider {
    width: 100%;
    border: 0.5px solid rgb(230, 230, 230);
    margin: 20px 0px;
}
.price-filter-container {

}
.price-filter-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-filter-label p {
    font-family: CircularXX;
    font-size: medium;
}
.price-filter-label button {
    border: none;
    background: none;
}
.filter-slider {
    width: 90%;
    margin: 0px 5%;
}
.price-filter-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    color: rgb(68, 68, 68);
}