<form
  class="filter-form"
  novalidate
  [formGroup]="filterForm"
  (ngSubmit)="OnSubmit()"
  #form
>
  <div class="filter-header">
    <p>Filters</p>
    <button type="submit">Apply Filters</button>
  </div>
  <div class="input-container">
    <label>Gift For*</label>
    <select formControlName="pronoun" name="pronoun">
      <option disabled value="">Select pronoun</option>
      <option *ngFor="let item of pronounData" [value]="item.name">
        {{ item.name }}
      </option>
    </select>
  </div>
  <div class="input-container">
    <label>Occasion</label>
    <select formControlName="occasion" name="occasion">
      <option disabled value="">Select occasion</option>
      <option *ngFor="let item of occasionData" [value]="item.name">
        {{ item.name }}
      </option>
    </select>
  </div>
  <div class="input-container">
    <label>Relationship</label>
    <select formControlName="relationship" name="relationship">
      <option disabled value="">Select relationship</option>
      <option *ngFor="let item of relationshipData" [value]="item.name">
        {{ item.name }}
      </option>
    </select>
  </div>
  <hr class="filter-form-divider" />
  <div class="price-filter-container">
    <div class="price-filter-label">
      <p>Price range</p>
      <button
        (click)="
          $event.preventDefault();
          this.priceContainer = this.priceContainer == '--' ? '+' : '--'
        "
      >
        {{ this.priceContainer }}
      </button>
    </div>
    <mat-slider
      *ngIf="this.priceContainer == '--'"
      class="filter-slider"
      min="0"
      max="1000"
      [displayWith]="formatLabel"
      discrete
    >
      <input formControlName="rangeStart" value="20" matSliderStartThumb />
      <input formControlName="rangeEnd" value="250" matSliderEndThumb />
    </mat-slider>
    <div *ngIf="this.priceContainer == '--'" class="price-filter-range">
      <span> $0 </span>
      <span> $500 </span>
      <span> $1000 </span>
    </div>
  </div>
</form>
