// Main header start
.header {
  background-color: white;
  position: fixed;
  width: 100%;
}

// Top part of header
.header-top {
  background-color: #D42566;
  color: white;
  padding: 8px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top button {
  background: none;
  border: none;
  color: white;
  padding: 0px;
  margin: 0px;
  font-family: CircularXX;
}

// Bottom part of header
.header-bottom {
  display: flex;
  padding: 8px 32px;
  box-shadow: 1px 1px 4px 0px #777d8c;
  justify-content: space-between;
  align-items: center;
}

// Filter container in Bottom part of header
.filter-container button {
  padding: 0.4rem 1rem;
  border-radius: 3px;
  margin: 0.2rem;
  border: 1px solid deeppink;
  background: none;
}

.filter-container select {
  border: none;
  width: 5rem;
  outline: none;
  background-color: white;
}

.filter-container option {
  padding: 1rem;
  margin: 1rem;
  font-size: 16px;
  color: #777d8c;
}

.filter-container hr {
  border-color:  #777d8c;
}

// Logo in Bottom part of header
.logo {
  margin-block: 0px;
  position: absolute;
  right: 50%;
}

// Product show in Bottom part of header
.product-show {
  display: flex;
}
.product-show button {
  background: none;
  border: none;
  margin: 0px;
}

// Search form in Product show
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form input {
  border: none;
  border-bottom: 1px solid #dcdfe4;
  padding: 12px 14px;
  font-family: 'Geomanist';
  font-size: 14px;
  outline: none;
  color: #545e6f;
}
.search-form input::placeholder {
  color: #777d8c;
}
.search-form input:focus {
  border-bottom-color: black;
}

// Search result box for search form (in Product show)
.search-result {
  position: absolute;
  right: 0%;
  background-color: white;
  width: 24rem;
  box-shadow: 1px 1px 4px 0px #777d8c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}
.result-count {
  color: #777d8c;
}